---
# web
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "premises.fullname" . }}-web
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "premises.name" . }}-web
    {{- include "premises.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.services.web.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "premises.name" . }}-web
      {{- include "premises.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.services.web.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "premises.name" . }}-web
        {{- include "premises.labels" . | nindent 8 }}
    spec:
      initContainers:
        - name: migration
          image: {{ .Values.image }}
          command:
            {{- toYaml .Values.services.web.migrationCommand | nindent 12 }}
          resources:
            {{- toYaml .Values.services.web.resources | nindent 12 }}
          env:
            - name: PREMISES_MODE
              value: web
            {{- with .Values.services.web.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            {{- toYaml .Values.services.web.envFrom | nindent 12 }}
      containers:
        - name: web
          image: {{ .Values.image }}
          ports:
            - name: http
              containerPort: 10000
          resources:
            {{- toYaml .Values.services.web.resources | nindent 12 }}
          env:
            - name: PREMISES_MODE
              value: web
            {{- with .Values.services.web.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.services.web.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.services.web.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.services.web.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
# static
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "premises.fullname" . }}-static
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "premises.name" . }}-static
    {{- include "premises.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.services.static.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "premises.name" . }}-static
      {{- include "premises.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.services.static.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "premises.name" . }}-static
        {{- include "premises.labels" . | nindent 8 }}
    spec:
      initContainers:
        - name: prepare-static
          image: {{ .Values.image }}
          command:
            - pmctl
            - copy-static
            - --dst=/usr/share/nginx/html
          volumeMounts:
            - name: static-files
              mountPath: /usr/share/nginx/html
          resources:
            {{- toYaml .Values.services.static.resources | nindent 12 }}
      containers:
        - name: static
          image: nginxinc/nginx-unprivileged:alpine-slim
          ports:
            - name: http
              containerPort: 8000
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
            - name: static-files
              mountPath: /usr/share/nginx/html
            {{- with .Values.services.static.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.services.static.resources | nindent 12 }}
      volumes:
        - name: nginx-conf
          configMap:
            name: {{ include "premises.fullname" . }}-nginx-conf
        - name: static-files
          emptyDir: {}
        {{- with .Values.services.static.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
---
# proxy
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "premises.fullname" . }}-proxy
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "premises.name" . }}-proxy
    {{- include "premises.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "premises.name" . }}-proxy
      {{- include "premises.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.services.proxy.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "premises.name" . }}-proxy
        {{- include "premises.labels" . | nindent 8 }}
    spec:
      containers:
        - name: proxy
          image: {{ .Values.image }}
          ports:
            - name: proxy-backend
              containerPort: 25530
            - name: minecraft
              containerPort: 25565
          resources:
            {{- toYaml .Values.services.proxy.resources | nindent 12 }}
          env:
            - name: PREMISES_MODE
              value: proxy
            {{- with .Values.services.proxy.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.services.proxy.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.services.proxy.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.services.proxy.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
# cron
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "premises.fullname" . }}-cron
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "premises.name" . }}-cron
    {{- include "premises.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "premises.name" . }}-cron
      {{- include "premises.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.services.proxy.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "premises.name" . }}-cron
        {{- include "premises.labels" . | nindent 8 }}
    spec:
      containers:
        - name: proxy
          image: {{ .Values.image }}
          resources:
            {{- toYaml .Values.services.proxy.resources | nindent 12 }}
          env:
            - name: PREMISES_MODE
              value: cron
            {{- with .Values.services.cron.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.services.cron.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.services.cron.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.services.cron.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
