go 1.26.1

use (
	./backend/common
	./backend/ctrlplane/common
	./backend/ctrlplane/monolith
	./backend/ctrlplane/pmctl
	./backend/runner
	./backend/tools/mcserver-fake
	./backend/tools/ostack-fake
)
