[Unit]
Description=Premises Game Manager Process
After=cloud-config.service network-online.service ufw.service
Documentation=https://github.com/kofuk/premises-mcmanager

[Service]
Type=exec
ExecStart=/opt/premises/bin/premises-mcmanager
ExecStop=/bin/kill $MAINPID
Restart=always
User=premises
Group=premises
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectSystem=full
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
