domain: 'premises.local'
image: ghcr.io/kofuk/premises:0.10.1

fullNameOverride: ''

services:
  web:
    replicaCount: 1
    annotations: {}
    env: []
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}
    migrationCommand:
      - /premises
      - migrate
    volumeMounts: []
    volumes: []

  static:
    replicaCount: 1
    annotations: {}
    resources: {}
    volumeMounts: []
    volumes: []

  proxy:
    annotations: {}
    env: []
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}
    enableService: true
    volumeMounts: []
    volumes: []

  cron:
    annotations: {}
    env: []
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}
    volumeMounts: []
    volumes: []

ingress:
  enabled: true
  annotations: {}
  ingressClassName: ''
  tls:
    enabled: true
    secretName: premises-cert
