domain: 'premises.local'
image: ghcr.io/kofuk/premises:0.8.0

fullNameOverride: ''

services:
  web:
    replicaCount: 1
    annotations: {}
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}
    migrationCommand:
      - /premises
      - migrate

  static:
    replicaCount: 1
    annotations: {}
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}

  proxy:
    annotations: {}
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}
    enableService: true

  cron:
    annotations: {}
    envFrom:
      - secretRef:
          name: premises-config
    resources: {}

ingress:
  enabled: true
  annotations: {}
  ingressClassName: ''
  tls:
    enabled: true
    secretName: premises-cert
