<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Control Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <span class="navbar-brand">Control Panel</span>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav me-auto"></div>
          <a href="/logout" class="btn btn-primary bg-gradient">Logout</a>
        </div>
      </div>
    </nav>

    <div id="app"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

    <script>
     'use strict';

     class MachineTypeSelection extends React.Component {
         render() {
             const machines = [['2g', '2GB','3-core', '3.3JPY/h'], ['4g', '4GB', '4-core', '6.6JPY/h'],
                               ['8g', '8GB', '6-core', '13.2JPY/h'], ['16g', '16GB', '8-core', '24.2JPY/h'],
                               ['32g', '32GB', '12-core', '48JPY/h'], ['64g', '64GB', '24-core', '96.8JPY/h']]
                 .map(e => [React.createElement('input', {type: 'radio', className: 'btn-check',
                                                          name: 'machine-type', id: `machine-type-${e[0]}`,
                                                          autocomplete: 'off', value: e[0],
                                                          defaultChecked: e[0] == '8g'}),
                            React.createElement('label', {className: 'btn btn-outline-primary',
                                                          'for': `machine-type-${e[0]}`,
                                                          title: `${e[1]} RAM & ${e[2]} CPU, ${e[3]}`}, e[1])])
                 .flat();

             return React.createElement(
                 'div',
                 {className: 'mb-3'},
                 'Machine Type',
                 React.createElement(
                     'div',
                     {className: 'btn-group ms-3', role: 'group'},
                     machines
                 )
             );
         }
     }

     class NewWorldMenu extends React.Component {
         render() {
             const newWorldMenu = [];
             if (this.props.generateNewWorld) {
                 newWorldMenu.push(React.createElement(
                     'div',
                     {className: 'mb-3'},
                     React.createElement(
                         'label',
                         {className: 'form-label', 'for': 'world'},
                         'World Name'
                     ),
                     React.createElement(
                         'input',
                         {
                             className: 'form-control', type: 'text',
                             id: 'world', name: 'world',
                             placeholder: 'myworld'
                         }
                     )
                 ));
                 newWorldMenu.push(React.createElement(
                     'div',
                     {className: 'mb-3'},
                     React.createElement(
                         'label',
                         {'for': 'level-type'},
                         'Level Type'
                     ),
                     React.createElement(
                         'select',
                         {className: 'form-select', name: 'level-type', id: 'level-type'},
                         [['default', 'Default'], ['flat', 'Superflat'], ['largeBiomes', 'Large Biomes'], ['amplified', 'Amplified']]
                             .map(e => React.createElement(
                                 'option',
                                 {value: e[0]},
                                 e[1]
                             ))
                     )
                 ));
             }

             return React.createElement(
                 'div',
                 {},
                 React.createElement(
                     'div',
                     {className: 'form-check form-switch mb-3'},
                     React.createElement(
                         'input',
                         {
                             className: 'form-check-input',
                             type: 'checkbox',
                             name: 'new-world', id: 'new-world',
                             checked: this.props.generateNewWorld,
                             onChange: (e) => this.props.changeGenerateNewWorld(e.target.checked)
                         },
                     ),
                     React.createElement(
                         'label',
                         {className: 'form-check-label', 'for': 'new-world'},
                         'Generate a new world'
                     )
                 ),
                 newWorldMenu
             );
         }
     }

     class WorldMigrationMenu extends React.Component {
         render() {
             const menu = [];
             if (this.props.migrateWorld) {
                 const options = this.props.worldBackups
                                     .map(e => React.createElement(
                                         'option',
                                         {value: JSON.stringify(e)},
                                         `${e.worldName} on ${e.serverName} (${e.generation} gen ago)`
                                     ));
                 menu.push(React.createElement(
                     'div',
                     {className: 'mb-3'},
                     React.createElement(
                         'label',
                         {'for': 'migrate-from'},
                         'Migrate from'
                     ),
                     React.createElement(
                         'select',
                         {className: 'form-select', id: 'migrate-from', name: 'migrate-from'},
                         options
                     )
                 ));
             }

             return React.createElement(
                 'div',
                 {},
                 React.createElement(
                     'div',
                     {className: 'form-check form-switch mb-3'},
                     React.createElement(
                         'input',
                         {
                             className: 'form-check-input',
                             type: 'checkbox',
                             name: 'migrate-world', id: 'migrate-world',
                             checked: this.props.migrateWorld,
                             onChange: (e) => this.props.changeMigrateWorld(e.target.checked)
                         },
                     ),
                     React.createElement(
                         'label',
                         {className: 'form-check-label', 'for': 'migrate-world'},
                         'Migrate from an existing world'
                     )
                 ),
                 menu
             );
         }
     }

     class WorldSelection extends React.Component {
         render() {
             const worlds = new Set;
             this.props.worldsForConfig.forEach(e => {
                 worlds.add(e.worldName);
             });
             const worldOptions = [...worlds].map(e => React.createElement(
                 'option',
                 {value: e},
                 e
             ));

             return React.createElement(
                 'div',
                 {className: 'mb-3'},
                 React.createElement(
                     'label',
                     {'for': 'world'},
                     'World'
                 ),
                 React.createElement(
                     'select',
                     {
                         className: 'form-select',
                         name: 'world',
                         id: 'world',
                         onChange: (e) => this.props.changeWorld(e.target.value)
                     },
                     worldOptions
                 )
             );
         }
     }

     class WorldGenerationSelection extends React.Component {
         render() {
             const worlds = this.props.worldsForConfig
                                .map(e => [React.createElement('input', {type: 'radio', className: 'btn-check',
                                                                         name: 'world-gen', id: `world-gen-${e.generation}`,
                                                                         autocomplete: 'off', value: `${e.generation}`,
                                                                         defaultChecked: e.generation == 0}),
                                           React.createElement('label', {className: 'btn btn-outline-primary',
                                                                         'for': `world-gen-${e.generation}`,},
                                                               e.generation == 0 ? 'latest' : `${e.generation} gen ago`)])
                                .flat();

             return React.createElement(
                 'div',
                 {className: 'mb-3'},
                 'World Generation',
                 React.createElement(
                     'div',
                     {className: 'btn-group ms-3', role: 'group'},
                     worlds
                 )
             );
         }
     }

     class GameConfigSelection extends React.Component {
         render() {
             const configs = this.props.gameConfigs
                                 .map(e => React.createElement('option', {value: e.name}, `${e.name} ${e.isVanilla?'':'*'}`))

             return React.createElement(
                 'div',
                 {className: 'mb-3'},
                 React.createElement(
                     'label',
                     {'for': 'game-config'},
                     'Game Configuration'
                 ),
                 React.createElement(
                     'select',
                     {
                         className: 'form-select', id: 'game-config', name: 'game-config',
                         onChange: (e) => this.props.onConfigChange(e.target.value), value: this.props.selectedGameConfig
                     },
                     configs
                 ),
             )
         }
     }

     class WorldConfigMenu extends React.Component {
         constructor(props) {
             super(props);
             this.state = {
                 gameConfigs: [], worldBackups: [],
                 selectedGameConfig: '',
                 selectedWorld: '',
                 generateNewWorld: false,
                 migrateWorld: false
             };
             this.fetchGameConfigs();
             this.fetchWorldBackups();
         }

         fetchGameConfigs() {
             fetch('/control/api/gameconfigs')
                 .then(resp => resp.json())
                 .then(resp => {
                     if (resp != null) {
                         this.setState({gameConfigs: resp})
                         if (resp.length > 0) {
                             this.setState({selectedGameConfig: resp[0].name});
                         }
                     }
                 })
         }

         fetchWorldBackups() {
             fetch('/control/api/backups')
                 .then(resp => resp.json())
                 .then(resp => {
                     if (resp != null) {
                         resp.sort((a, b) => {
                             if (a.generation == b.generation) {
                                 return 0;
                             } else if (a.generation < b.generation) {
                                 return -1;
                             }
                             return 1;
                         });
                         this.setState({worldBackups: resp});
                         if (resp.length > 0) {
                             this.setState({selectedWorld: resp[0].worldName});
                         }
                     }
                 })
         }

         render() {
             const worldsForConfig = this.state.worldBackups
                                         .filter(e => e.serverName === this.state.selectedGameConfig);

             React.createElement(
                 'div',
                 {className: 'mb-3'},
                 React.createElement(
                     'div',
                     {className: 'alert alert-warning', role: 'alert'},
                     'No world backups found. New world will be generated.',
                 )
             );

             const worldSelectionMenu = [];
             if (worldsForConfig.length === 0) {
                 worldSelectionMenu.push(React.createElement(
                     'div',
                     {className: 'alert alert-warning mb-3'},
                     'No world backups found. Please generate a new world or migrate from other server configuration.'
                 ));
             } else if (!this.state.generateNewWorld && !this.state.migrateWorld) {
                 worldSelectionMenu.push(React.createElement(
                     WorldSelection,
                     {
                         worldsForConfig: worldsForConfig,
                         changeWorld: (v) => this.setState({selectedWorld: v})
                     }
                 ));

                 worldSelectionMenu.push(React.createElement(
                     WorldGenerationSelection,
                     {
                         worldsForConfig: worldsForConfig.filter(e => e.worldName === this.state.selectedWorld),
                         selectedGameConfig: this.state.selectedGameConfig,
                     }
                 ));
             }

             worldSelectionMenu.push(React.createElement(
                 NewWorldMenu,
                 {
                     generateNewWorld: this.state.generateNewWorld || (!this.state.migrateWorld && worldsForConfig.length === 0),
                     changeGenerateNewWorld: (val) => {
                         this.setState({generateNewWorld: val});
                         if (worldsForConfig.length === 0) {
                             this.setState({migrateWorld: !val});
                         } else if (val && this.state.migrateWorld) {
                             this.setState({migrateWorld: false});
                         }
                     }
                 }
             ));

             return React.createElement(
                 'div',
                 {},
                 React.createElement(
                     GameConfigSelection,
                     {
                         gameConfigs: this.state.gameConfigs,
                         selectedGameConfig: this.state.selectedGameConfig,
                         onConfigChange: (config) => this.setState({'selectedGameConfig': config})
                     }
                 ),
                 worldSelectionMenu,
                 React.createElement(
                     WorldMigrationMenu,
                     {
                         migrateWorld: this.state.migrateWorld,
                         changeMigrateWorld: (val) => {
                             this.setState({migrateWorld: val});
                             if (worldsForConfig.length === 0) {
                                 this.setState({generateNewWorld: !val});
                             } else if (val && this.state.generateNewWorld) {
                                 this.setState({generateNewWorld: false});
                             }
                         },
                         worldBackups: this.state.worldBackups
                     }
                 )
             );
         }
     }

     class BuildServerPanel extends React.Component {
         render() {
             return React.createElement(
                 'div',
                 {className: 'my-5 card mx-auto'},
                 React.createElement(
                     'div',
                     {className: 'card-body'},
                     React.createElement(
                         'form',
                         {id: 'build-server-form'},
                         React.createElement(MachineTypeSelection),
                         React.createElement(WorldConfigMenu),
                         React.createElement(
                             'div',
                             {className: 'd-md-block mt-3 text-end'},
                             React.createElement(
                                 'button',
                                 {
                                     className: 'btn btn-primary bg-gradient',
                                     type: 'button',
                                     onClick: () => {
                                         const data = new URLSearchParams;
                                         for (const field of new FormData(document.getElementById('build-server-form')))
                                             data.append(field[0], field[1]);
                                         fetch('/control/api/launch', {
                                             method: 'POST',
                                             body: data
                                         });
                                     }
                                 },
                                 'Start'
                             )
                         )
                     )
                 )
             );
         }
     }

     class ServerControlPanel extends React.Component {
         render() {
             return React.createElement(
                 'div',
                 {className: 'my-5 card mx-auto'},
                 React.createElement(
                     'div',
                     {className: 'card-body'},
                     React.createElement(
                         'form',
                         {},
                         React.createElement(
                             'div',
                             {className: 'd-md-block mt-3 text-end'},
                             React.createElement(
                                 'button',
                                 {
                                     className: 'btn btn-danger bg-gradient',
                                     type: 'button',
                                     onClick: () => {
                                         fetch('/control/api/stop', {
                                             method: 'POST'
                                         })
                                     }
                                 },
                                 'Stop'
                             )
                         )
                     )
                 )
             );
         }
     }

     class Status extends React.Component {
         constructor(props) {
             super(props);
         }

         render() {
             const appearance = this.props.isError ? 'alert-danger' : 'alert-success';
             return React.createElement(
                 'div',
                 {className: `alert ${appearance}`},
                 this.props.message
             );
         }
     }

     class App extends React.Component {
         constructor(props) {
             super(props);
             this.state = {
                 serverShutdown: true,
                 isError: props.isError,
                 message: props.message
             }

             const proto = location.protocol == 'https:' ? 'wss://' : 'ws://';
             this.socketUrl = proto + location.host + '/control/api/status';
             this.retryCount = 0;
         }

         componentDidMount() {
             this.wsWatch();
         }

         wsWatch() {
             const ws = new WebSocket(this.socketUrl);
             ws.addEventListener('close', this.handleWsClose.bind(this));
             ws.addEventListener('message', this.handleWsMessage.bind(this));
         }

         handleWsOpen() {
             this.setState({isError: false, message: 'Connected.'});
             this.retryCount = 0;
         }

         handleWsClose() {
             if (this.retryCount == 20) {
                 this.setState({isError: true, message: 'Connection has lost; Please reload the page.'});
                 return;
             } else {
                 this.setState({isError: true, message: 'Connection has lost; Reconnecting...'});
                 this.retryCount++;
             }

             setTimeout(() => {
                 const ws = new WebSocket(this.socketUrl);
                 ws.addEventListener('open', this.handleWsOpen.bind(this));
                 ws.addEventListener('close', this.handleWsClose.bind(this));
                 ws.addEventListener('message', this.handleWsMessage.bind(this));
             }, Math.random() * 5);
         }

         handleWsMessage(ev) {
             const event = JSON.parse(ev.data);
             this.setState({isServerShutdown: event.shutdown, isError: event.hasError, message: event.status})
         }

         render() {
             let control;
             if (this.state.isServerShutdown) {
                 control = React.createElement(BuildServerPanel);
             } else {
                 control = React.createElement(ServerControlPanel);
             }
             return React.createElement(
                 'div',
                 {className: 'container'},
                 React.createElement(Status, {message: this.state.message, isError: this.state.isError}),
                 control
             );
         }
     }

     ReactDOM.render(React.createElement(App), document.getElementById('app'));
    </script>
  </body>
</html>
