<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Control Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <span class="navbar-brand">Control Panel</span>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav me-auto"></div>
          <a href="/logout" class="btn btn-primary bg-gradient">Logout</a>
        </div>
      </div>
    </nav>

    <div id="app"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

    <script>
     'use strict';

     class MachineTypeSelection extends React.Component {
         render() {
             const machines = [['1g', '1GB', '2-core', '1.7JPY/h'], ['2g', '2GB','3-core', '3.3JPY/h'],
                               ['4g', '4GB', '4-core', '6.6JPY/h'], ['8g', '8GB', '6-core', '13.2JPY/h'],
                               ['16g', '16GB', '8-core', '24.2JPY/h'], ['32g', '32GB', '12-core', '48JPY/h'],
                               ['64g', '64GB', '24-core', '96.8JPY/h']]
                 .map(e => [React.createElement('input', {type: 'radio', className: 'btn-check',
                                                          name: 'machine-type', id: `machine-type-${e[0]}`,
                                                          autocomplete: 'off', value: e[0],
                                                          defaultChecked: e[0] == '8g'}),
                            React.createElement('label', {className: 'btn btn-outline-primary',
                                                          'for': `machine-type-${e[0]}`,
                                                          title: `${e[1]} RAM & ${e[2]} CPU, ${e[3]}`}, e[1])]).flat();

             return React.createElement(
                 'div',
                 {},
                 'Machine Type',
                 React.createElement(
                     'div',
                     {className: 'btn-group ms-3', role: 'group'},
                     machines
                 )
             );
         }
     }

     class BuildServerPanel extends React.Component {
         render() {
             return React.createElement(
                 'div',
                 {className: 'my-5 card mx-auto'},
                 React.createElement(
                     'div',
                     {className: 'card-body'},
                     React.createElement(
                         'form',
                         {id: 'build-server-form'},
                         React.createElement(MachineTypeSelection),
                         React.createElement(
                             'div',
                             {className: 'd-md-block mt-3 text-end'},
                             React.createElement(
                                 'button',
                                 {
                                     className: 'btn btn-primary bg-gradient',
                                     type: 'button',
                                     onClick: () => {
                                         const data = new URLSearchParams;
                                         for (const field of new FormData(document.getElementById('build-server-form')))
                                             data.append(field[0], field[1]);
                                         fetch('/control/api/launch', {
                                             method: 'POST',
                                             body: data
                                         });
                                     }
                                 },
                                 'Start'
                             )
                         )
                     )
                 )
             );
         }
     }

     class ServerControlPanel extends React.Component {
         render() {
             return React.createElement(
                 'div',
                 {className: 'my-5 card mx-auto'},
                 React.createElement(
                     'div',
                     {className: 'card-body'},
                     React.createElement(
                         'form',
                         {},
                         React.createElement(
                             'div',
                             {className: 'd-md-block mt-3 text-end'},
                             React.createElement(
                                 'button',
                                 {
                                     className: 'btn btn-danger bg-gradient',
                                     type: 'button',
                                     onClick: () => {
                                         fetch('/control/api/stop', {
                                             method: 'POST'
                                         })
                                     }
                                 },
                                 'Stop'
                             )
                         )
                     )
                 )
             );
         }
     }

     class Status extends React.Component {
         constructor(props) {
             super(props);
             this.state = {isError: props.isError, message: props.message};
         }

         render() {
             const appearance = this.props.isError ? 'alert-danger' : 'alert-success';
             return React.createElement(
                 'div',
                 {className: `alert ${appearance}`},
                 this.props.message
             );
         }
     }

     class App extends React.Component {
         constructor(props) {
             super(props);
             this.state = {
                 serverShutdown: true,
                 isError: props.isError,
                 message: props.message
             }
         }

         componentDidMount() {
             this.wsWatch();
         }

         wsWatch() {
             const proto = location.protocol == 'https:' ? 'wss://' : 'ws://';
             const url = proto + location.host + '/control/api/status';
             const ws = new WebSocket(url);
             ws.addEventListener('close', this.handleWsClose.bind(this));
             ws.addEventListener('message', this.handleWsMessage.bind(this));
         }

         handleWsClose() {
             this.setState({isError: true, message: 'Connection has lost; please reload the page.'});
         }

         handleWsMessage(ev) {
             const event = JSON.parse(ev.data);
             this.setState({isServerShutdown: event.shutdown, isError: event.hasError, message: event.status})
         }

         render() {
             let control;
             if (this.state.isServerShutdown) {
                 control = React.createElement(BuildServerPanel);
             } else {
                 control = React.createElement(ServerControlPanel);
             }
             return React.createElement(
                 'div',
                 {className: 'container'},
                 React.createElement(Status, {message: this.state.message, isError: this.state.isError}),
                 control
             );
         }
     }

     ReactDOM.render(React.createElement(App), document.getElementById('app'));
    </script>
  </body>
</html>
