<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="my-5 card mx-auto" style="max-width: 300px">
        <div class="card-body">
          <h1>Login</h1>
          <form action="/" method="post">
            <div class="mb-3 form-floating">
              <input type="text" name="username" id="username" class="form-control" placeholder="User" />
              <label for="username">User</label>
            </div>
            <div>
              <div class="mb-3 form-floating">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                <label for="password">Password</label>
              </div>
            </div>
            <div class="text-right">
              <input type="submit" value="Login" class="btn btn-primary bg-gradient" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
