name: Build mcserver-fake
on:
  push:
    paths:
      - 'cmd/mcserver-fake/**'
      - 'internal/fake/mcserver/**'
      - 'etc/fake-version-manifest/**'

jobs:
  build-mcserver-fake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Build mcserver-fake
        run: |
          cd cmd/mcserver-fake
          CGO_ENABLED=0 go build .
      - name: Upload Artifacts
        if: github.ref_name == 'master'
        run: |
          aws s3 cp cmd/mcserver-fake/mcserver-fake s3://premises/artifacts/devtools/mcserver-fake/
          aws s3 cp --recursive etc/fake-version-manifest s3://premises/artifacts/devtools/mcserver-fake/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_DEFAULT_REGION: auto
